#responsive950, #responsive690 {
    display: none
}

@media (max-width: 950px) {
    #responsiveFull, #responsive690 {
        display: none
    }

    #responsive950 {
        display: flex
    }
}

@media (max-width: 690px) {
    #responsiveFull, #responsive950 {
        display: none
    }

    #responsive690 {
        display: flex
    }
}
